
    body {
        --bkg-color: #f6f7eb;
        --text-color: black;
        --prim-color: #e94f37;
        --sec-color: #393e41;
        --box-shadow: rgba(0,0,0,0.2);
    }
    body.dark-theme {
        --bkg-color: #121212;
        --text-color: white;
        --prim-color: #1c2541;
        --sec-color: #3a506b;
        --box-shadow: rgba(255, 255, 255, 0.2);
    }

@media (prefers-color-scheme: dark) {
    body.light-theme {
        --bkg-color: #f6f7eb;
        --text-color: black;
        --prim-color: #e94f37;
        --sec-color: #393e41;
        --box-shadow: rgba(0,0,0,0.2);
    }
    body {
        --bkg-color: #121212;
        --text-color: white;
        --prim-color: #1c2541;
        --sec-color: #3a506b;
        --box-shadow: rgba(255, 255, 255, 0.2);
    }
}

body {
    background-color: var(--bkg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}

main, header{
    margin: 0 auto;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 80vmax;
}

header {
    background-color: var(--prim-color);
    color: var(--text-color);
    width: 100vw;
    display: flex;
    max-height: 50px;
}

button {
    background-color: var(--sec-color);
}

nav {
    display: flex;
}

.h1-wrap, .main-card {
    border: 2px solid 0.7;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 var(--box-shadow);
    margin: 1rem;
}

.h1-wrap {
    padding: 5px 15px;
}

.main-card {
    display: flex;
    padding: 10px 15px;
}

.container {
    display: grid;
    gap: 20px;
    
    grid-template-columns: auto auto;
    justify-content: center;
}

.h1-wrap:hover, .main-card:hover, .sub-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.sub-card {
    padding: 10px 5px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    margin: 10px;
    border-radius: 5px;
}

.sub-card img {
    width: 30px;
    height: 30px;
}

.menu-wrap {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: auto;
}

.menu, .social{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-item, .social-item{
    max-width: 150px;
    margin: 0 5px;
    border: 2px solid transparent;
}

.menu-item a{
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 11px 0;
}

.menu-item a:visited {
    color: var(--text-color);
}
  
.menu-item:hover, 
.menu-item:focus {
    border-bottom: 2px solid var(--sec-color);
}

.social {
    list-style: none;
}

.social-item img {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
}

@media screen and (max-width: 500px) {
    body {
        font-size: 14px;
    }

    header {
        font-size: 30px;
    }
}

@media screen and (min-width: 481px) {
    body {
        font-size: 16px;
    }

    header {
        font-size: 40px;
    }
}

@media screen and (min-width: 769px) {
    body {
        font-size: 20px;
    }

    header {
        font-size: 30px;
    }
}