:root {
    --bkg-color: #F5F5F5;
    --sec-bkg: #E0E0E0;
    --text-color: #616161;
    --prim-color: #42047e;
    --sec-color: #07f49e;
    --box-shadow: rgba(0,0,0,0.35);
}

*{
    box-sizing: border-box;
}

body {
    background-color: var(--bkg-color);
    color: var(--text-color);
    margin: 0;
    height: 100vh;
}

main, header{
    margin: 0 auto;
}

main {
    min-width: 35vw;
}

header {
    background-color: var(--sec-bkg);
    color: var(--text-color);
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 10vh;
    box-shadow: 0px 5px 15px var(--box-shadow);
    padding: 0 10px;
}

footer {
    background-color: var(--sec-bkg);
    color: var(--text-color);
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 15vh;
    box-shadow: 5px 0px 15px var(--box-shadow);
    margin-top: 20vh;
    padding: 0 5px;
}

h1 {
    text-decoration: underline;
    text-decoration-color: var(--prim-color);
    text-underline-offset: 5px;
}

.list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu {
    display: flex;
}
.menu-item, .social-item{
    max-width: 150px;
    margin: 0 5px;
    border: 0.2em solid transparent;
}

.menu-item a {
    text-decoration: none;
}

.menu-item {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 5px 5px;
}

.menu-item:hover {
    background-color: var(--prim-color);
}

.menu-item a:hover {
    color: white;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.menu-item a:visited {
    color: var(--text-color);
}

.social-item img {
    display: inline-block;
    height: 1.5em;
    width: 1.5em;
    margin: 0 5px;
}

.card-container {
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
}

.card {
    text-align: center;
    padding: 1rem;
    border: .1em solid rgba(0,0,0,0.2);
    box-shadow: 0px 5px 15px var(--box-shadow);
    border-radius: 10px;
}

.card:hover {
    box-shadow: 0px 10px 30px var(--box-shadow);
}

.mobile {
    display: none;
}

#about-pic {
    display: grid;
    padding: 1rem;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;
}

#profile-img {
    border-radius: 50%;
    max-width: 150px;
    height: auto;
}

#bio-content p {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#menu-toggle {
    width: 5vh;
    padding: 0;
}

#mobile-menu ul {
    padding: 0;
}

#menu-toggle img{
    height: 4vh;   
}

@media (max-width: 500px) {
    body {
        font-size: 1.2rem;
    }
    header {
        height: 5vh;
        justify-content: right;
    }
    main {
      width: 90vw;
    }
    #main-menu {
        display: none;
    }
    .mobile {
        display: inline;
    }
    #mobile-menu {
        display: none;
        position: fixed;
        top: 5vh;
        left: 70vw;
        width: 30vw;
        background-color: var(--sec-bkg);
    }
}

@media (min-width: 501px) {
    main {
        width: 600px;
    }
}

@media (min-width: 769px) {
    body {
        font-size: 1.5rem;
    }
}